
{% block content %}
<section class="mb-96">
<div>
  <h1 class="text-gray-100 text-gray text-3xl text-center font-sans font-bold pt-8">About Me</h1>
</div>
<div class="text-gray-100">
<p class="py-4 pr-8 pl-8 font-sans text-xl">I'm on this exciting journey of continuous learning and innovation. While my formal commitment to development spans just a few years, my relationship with technology and open source software dates back 25 years which weave a rich tapestry of experiences and insights.</p>

<h2 class="text-center text-xl font-sans font-bold">A Global Perspective</h2>
<p class="py-4 pr-8 pl-8 font-sans text-xl">Also, I'm very fortunate to have lived in Mexico for many years. This has allowed me to immerse myself in diverse cultures, influencing both my worldview and my approach to problem-solving. This exposure has added a unique dimension to my development philosophy and it's one that values inclusivity and user-centric design.</p>

<h2 class="text-center text-xl font-sans font-bold">Technology Enthusiast</h2>
<p class="py-4 pr-8 pl-8 font-sans text-xl"> In my recent years dedicated to full-stack development, I've found my stride in technologies that empower modern, scalable solutions. Ansible, AWS, Docker, and Kubernetes are my trusted companions in architecting robust applications.</p>

<h2 class="text-center text-xl font-sans font-bold">Coding Languages I Love</h2>
<p class="py-4 pr-8 pl-8 font-sans text-xl"> While relatively new to the developer scene, I've quickly become enamored with the elegance of Golang and the versatility of Python. Additionally, Bash will always be my goto for scripting. Also, I've been known to hack on Haskell and Perl files to get something to work.</p>

<h2 class="text-center text-xl font-sans font-bold">No Windows Development Zone</h2>
<p class="py-4 pr-8 pl-8 font-sans text-xl">Let me make one thing clear, I thrive in a Windows-free development environment. My focus is on crafting solutions that seamlessly integrate into my workflow, allowing me to concentrate on delivering high-quality, efficient web applications.</p>

<p class="py-4 pr-8 font-sans text-xl">I do need to clarify that I'm not one of those people that hates certain programming languages or frameworks without first trying them. Simply, I have a hatred for Microsoft and .NET garbage. I'm sure I am like a lot of developers who have their preferences based on experience.</p>

<p class="py-2 pr-8 pl-8 font-sans text-xl"> Thank you for exploring my journey into the world of full-stack development. I'm eager to bring my passion and skills to your projects.</p>
  </div>
</section>

{% endblock %}
