{% load static %}
{% block content %}

<h1 class="text-3xl text-gray-100 text-center font-sans font-bold mb-4 ml-8">Contact Me</h1>
<form action="{% url 'contact_view' %}" method="post">
  {% csrf_token %}
  {{ form }}
<div class="text-gray-100 flex items-center justify-center mt-16">
  <label class="mb-4" for="name">Name:</label>
    <input type="name" id="name" class="border rounded px-3 py-2 mx-4 mb-4">
</div>
<div class="text-gray-100 flex items-center justify-center mt-4">
  <label class="mb-4" for="email">Email:</label>
    <input type="text" name="email" id="email" class="border rounded py-2 px-3 mx-4 mb-4">
</div>
<div class="text-gray-100 flex items-center justify-center mt-4">
  <label class="mb-8" for="message">Message:</label>
    <textarea name="message" id="message" cols="30" rows="10" class="border rounded py-2 px-2 mx-4 mb-4">
    </textarea>
  </div>
<div class="text-gray-100 flex justify-center ml-12 mb-24">
      <button type="submit" class="bg-gray-600 hover:bg-blue-700 text-gray-300 font-bold py-2 px-4 rounded mt-12">
    Send
  </button>
 </div>     
</form>

{% endblock %}
