{% extends 'index/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
  <h1 class="py-10 text-center text-white font-sans font-bold italic text-4xl">My Portfolio</h1>
</div>

    <h1 class="pl-8 pr-8 text-xl text-center text-white font-serif italic ">My name is <b>Shasten</b> and I am a <b>Full Stack Web Developer</b>.</h1><br>
  <div class="transition-all duration-1000 ease-in-out flex items-center justify-center">
    <img class="rounded w-1/2 h-auto object-cover" id="image1"  src="{% static 'img/me1.png' %}" alt="image description">
    <img class="rounded w-1/2 h-auto object-cover opacity-0 absolute" id="image2" src="{% static 'img/m9.png' %}" alt="image description">
  </div>
<div class="py-28"></div>

<section id="about">
  {% include 'index/about.html' %}
</section>

<section>
  {% include 'index/projects.html' %}
</section>

<section id="contact">
  {% include 'index/contact.html' %}
</section>

{% endblock %}
