{% extends 'index/base.html' %}
{% load static %}

{% block title %}Resume{% endblock %}


{% block content %}

 
 <section class="bg-cover bg-center bg-no-repeat py-16"> 
  <div class="mx-auto w-fit ml-auto mr-auto">
    <img src="{% static 'img/resume.png' %}">
  </div>
</section>

{% endblock %}
